extends layout

block head
  script(src='/javascripts/imageGetter.js')
  script(src='/javascripts/gallery.js')
  script(src='/javascripts/lightbox.js')
  link(rel='stylesheet' href='/stylesheets/lightbox.css')

block content
  header
    h1= title
    block nav
  div.content
    div.post
      div.data
        div.caption
        div.gallery
      div(style="clear:both")
  block script
  